In [2]:
import pandas as pd
import numpy as np
import csv
import re

In [3]:
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

pat1 = r'@[A-Za-z0-9_]+' # For removing mentions.
pat2 = r'https?://[^ ]+' # For removing links.
combined_pat = r'|'.join((pat1, pat2)) # For removing links.
www_pat = r'www.[^ ]+' # For removing links.
negations_dic = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                "mustn't":"must not"} # For removing negations.
neg_pattern = re.compile(r'\b(' + '|'.join(negations_dic.keys()) + r')\b') # For removing negations.

def tweet_cleaner(text):
      """ This cleans the tweets text content
          so it can be machine readable.
      """
      soup = BeautifulSoup(text, 'lxml') # Decodes HTML.
      souped = soup.get_text()
      try: # UTF decoding.
          bom_removed = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
      except:
          bom_removed = souped
      stripped = re.sub(combined_pat, '', bom_removed) # Gets rid of links.
      stripped = re.sub(www_pat, '', stripped) # Gets rid of links.
      lower_case = stripped.lower()
      neg_handled = neg_pattern.sub(lambda x: negations_dic[x.group()], lower_case)
      letters_only = re.sub("[^a-zA-Z]", " ", neg_handled) # Only lets letters in.
      words = [x for x  in tok.tokenize(letters_only) if len(x) > 1] # Below removes whitespace
      return (" ".join(words)).strip()

In [4]:
df = pd.read_csv('tesla_trial.csv')
df.head()

,Unnamed: 0,Like count,Retweet count,Source,User location,date,tweet,tweet_id
0,0.0,4.0,0.0,Twitter for iPhone,Subscribe,2019-11-01 22:54:23,Put down money on a Tesla model 3 \n#Tesla #Te...,1.1904017311396454e+18
1,1.0,32.0,5.0,Twitter for iPhone,"New Jersey, USA",2019-11-01 22:09:45,Epiphany Time!\n\nPretty confident the @Tesla ...,1.190390496759296e+18
2,2.0,339.0,37.0,Twitter for iPhone,Tesla HQ,2019-11-01 23:59:49,Tesla Owners of Japan React to Smart Summon! #...,1.1904181957665997e+18
3,3.0,0.0,0.0,Cloohawk,"Denver, CO",2019-11-01 23:52:53,As more automakers come up with affordable ele...,1.1904164501562204e+18
4,4.0,0.0,0.0,Buffer,NaN,2019-11-01 22:20:04,#Tesla Pickup render imagines Elon Musk's 'cyb...,1.1903930922239713e+18

In [13]:
i = 0
for i in range(len(df)):
    df["tweet"][i] = tweet_cleaner(df["tweet"][i])

<ipython-input-13-b7547f9f8c28>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["tweet"][i] = tweet_cleaner(df["tweet"][i])

In [14]:
df.head()

,Unnamed: 0,Like count,Retweet count,Source,User location,date,tweet,tweet_id
0,0.0,4.0,0.0,Twitter for iPhone,Subscribe,2019-11-01 22:54:23,put down money on tesla model tesla teslamodel...,1.1904017311396454e+18
1,1.0,32.0,5.0,Twitter for iPhone,"New Jersey, USA",2019-11-01 22:09:45,epiphany time pretty confident the pickup will...,1.190390496759296e+18
2,2.0,339.0,37.0,Twitter for iPhone,Tesla HQ,2019-11-01 23:59:49,tesla owners of japan react to smart summon tesla,1.1904181957665997e+18
3,3.0,0.0,0.0,Cloohawk,"Denver, CO",2019-11-01 23:52:53,as more automakers come up with affordable ele...,1.1904164501562204e+18
4,4.0,0.0,0.0,Buffer,NaN,2019-11-01 22:20:04,tesla pickup render imagines elon musk cyberpu...,1.1903930922239713e+18

In [18]:
df["tweet"]

0      put down money on tesla model tesla teslamodel...
1      epiphany time pretty confident the pickup will...
2      tesla owners of japan react to smart summon tesla
3      as more automakers come up with affordable ele...
4      tesla pickup render imagines elon musk cyberpu...
                             ...
640    question while visiting california where do pl...
641    install nikola tesla patents the free android ...
642    top gear needs to pay bills tesla does not adv...
643    tesla ownership update today marks one year si...
644    motherf cker dhl driver didn know how to park ...
Name: tweet, Length: 645, dtype: object

In [21]:
newDf = pd.read_csv('Tesla_19to21.csv', engine='python')
df.head()

,Unnamed: 0,Like count,Retweet count,Source,User location,date,tweet,tweet_id
0,0.0,4.0,0.0,Twitter for iPhone,Subscribe,2019-11-01 22:54:23,put down money on tesla model tesla teslamodel...,1.1904017311396454e+18
1,1.0,32.0,5.0,Twitter for iPhone,"New Jersey, USA",2019-11-01 22:09:45,epiphany time pretty confident the pickup will...,1.190390496759296e+18
2,2.0,339.0,37.0,Twitter for iPhone,Tesla HQ,2019-11-01 23:59:49,tesla owners of japan react to smart summon tesla,1.1904181957665997e+18
3,3.0,0.0,0.0,Cloohawk,"Denver, CO",2019-11-01 23:52:53,as more automakers come up with affordable ele...,1.1904164501562204e+18
4,4.0,0.0,0.0,Buffer,NaN,2019-11-01 22:20:04,tesla pickup render imagines elon musk cyberpu...,1.1903930922239713e+18

In [22]:
len(newDf)

767393

In [23]:
i = 0
for i in range(len(df)):
    newDf["tweet"][i] = tweet_cleaner(newDf["tweet"][i])

,Unnamed: 0,Like count,Retweet count,Source,User location,date,tweet,tweet_id
0,0.0,4.0,0.0,Twitter for iPhone,Subscribe,2019-11-01 22:54:23,put down money on tesla model tesla teslamodel...,1.1904017311396454e+18
1,1.0,32.0,5.0,Twitter for iPhone,"New Jersey, USA",2019-11-01 22:09:45,epiphany time pretty confident the pickup will...,1.190390496759296e+18
2,2.0,339.0,37.0,Twitter for iPhone,Tesla HQ,2019-11-01 23:59:49,tesla owners of japan react to smart summon tesla,1.1904181957665997e+18
3,3.0,0.0,0.0,Cloohawk,"Denver, CO",2019-11-01 23:52:53,as more automakers come up with affordable ele...,1.1904164501562204e+18
4,4.0,0.0,0.0,Buffer,NaN,2019-11-01 22:20:04,tesla pickup render imagines elon musk cyberpu...,1.1903930922239713e+18